html {
    margin: 0;
}

body {
    height: 100%;
    color: #9a8866;
    margin: 0;
    padding-bottom: 100px;
    background-color: rgb(34, 34, 34);
}

h1,
h2,
h3,
h4,
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

a {
    text-decoration: none;
    color: #8383bc;
}

label {
    width: 100%;
}

/*  */
header {
    opacity: 0;
    box-shadow: 0px 3px 5px 5px #534833;
    z-index: -1;
    background-color: #534833;
    height: 66px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.addstyle {
    opacity: 100%;
    transition: .5;
    z-index: 99;
}

/*  */


.select-trader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    /* background-color: #534833; */
    background: radial-gradient(ellipse at center, #534833 0%, rgb(34, 34, 34) 70%);

}



.serchbox {
    font-weight: 300;
    font-size: 15px;
    padding: 5px 20px;
    width: 30%;
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    outline: none;
    /* position: fixed; */
}

#serch-button {
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    transform: translate(-49px);
    /* position: fixed; */
}

.select-section {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.select-button {
    border-radius: 10px;
    font-size: 15px;
    transition: .2s;
    color: white;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: #9a8866;
    margin: 10px;
}

.select-button:hover {
    opacity: 70%;
}

.v2 {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.select-button img {
    zoom: 75%;
}

#unfindAlert {
    display: none;
    text-align: center;
    margin: 200px 0;
}

.trader {
    /* display: none; */
    display: block;
    width: 80%;
    margin: 0 auto;
}

.trader-name {
    margin: 20px;
    font-size: 40px;
    text-align: center;
}

.display-none {
    display: none;
}

.task-card {
    background-color: #3e3e3e;
    color: #aeaeb0;
    border: solid #9a8866 3px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    display: block;
    transition: .2s;
}

.task-card:hover {
    scale: 1.1;
}

.task-card-child {
    /* cursor: pointer; */
    display: flex;
}

.task-checkbox {
    margin: 0 10px 0 0;
    border-radius: 50%;
    width: 20px;
}

.task-card-content {
    font-weight: 900;
}

.ftitle {
    font-weight: 900;
    color: rgb(42, 165, 85);
}

.stitle {
    font-weight: 900;
    color: brown;
}

#imgareaOuter {
    margin: 0 auto;
    width: 80%;
}

.imgzone {
    vertical-align: top;
    text-align: center;
    font-weight: 900;
    background-color: #3e3e3e;
    color: #aeaeb0;
    border: solid #9a8866 3px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: 100%;
    transition: .2s;
    display: inline-block;
}

.itemAmount {
    color: rgb(42, 165, 85);
}

/* 切り替えCheckbox */
.switch-label {
    display: inline-block;
}

.switch-label-sub {
    display: inline-block;
    font-size: 20px;
    transform: translateY(-6px);
    margin-left: 10px;
}

.toggle_switch {
    vertical-align: top;
    margin: 0 auto;
    display: table;
    font-size: 30px;
}

.switch {
    margin: 10px;
}

.toggle_switch>input {
    display: none;
}

.toggle_switch>label {
    transition-delay: .5s;
    transition: .2s;
    /* display: block; */
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 1em;
    background-color: #2b2a2f;
    cursor: pointer;
}

.toggle_switch>input:checked+label {
    transition-delay: .5s;
    transition: .2s;
    background-color: #2dcb45;
}

.toggle_switch>label::before {
    position: absolute;
    top: 0.05em;
    left: 0.05em;
    width: calc(1em - 0.1em);
    height: calc(1em - 0.1em);
    border-radius: calc(1em - 0.1em);
    background-color: #fff;
    transition: 0.5s;
    content: "";
}

.toggle_switch>input:checked+label::before {
    left: calc(100% - 1em + 0.05em);
}

/* 切り替えCheckbox */

/* トップへ戻るボタン */
.page_top_btn {
    line-height: 60px;
    transition: .2s;
    border-radius: 50%;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background: #9a8866;
    color: #fff;
}

/* マウスオーバー時 */
.page_top_btn:hover {
    opacity: 70%;
    background: #6c5e42;
}

.NotPhone {
    display: none;
}

@media screen and (max-width: 600px) {
    body {
        display: none;
    }
}